extends layout

block content
    .row.jusitfy-content-md-center
        .col
        .col-6
            h3.announcement= `${message}`
        .col
    footer.footer
        .container
            .row.justify-content-md-center
                img(src="https://i.imgur.com/zeSsWOY.gif")