doctype html
html
    head
        title= `${title}`
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN",crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", crossorigin="anonymous")
        style(type="text/css").
            .announcement {
                color: #E87722;
                text-align: center;
            }
            .sidebar {
                background-color: #C64600;
            }
            h1 {
                color: #75787B;
            }
            body {
                background-color: #FFFFFF;
            }
            .container-fluid {
                margin-top: 50px;
            }
            .footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                line-height: 60px;
                background-color: #E5E1E6;
            }

    body
        .container-fluid
            .row.jusitfy-content-md-center
                .col.sidebar
                .col-6
                    h1(style="text-align:center;") What does the Orange Team Say?
                .col.sidebar
            br
            br
            block content